<div *ngFor="let node of list" class="tree-node">
  <div style="display: flex; align-items: center; gap: 4px">
    <span
      *ngIf="node.children?.length"
      (click)="toggleExpand(node.id)"
      style="cursor: pointer; width: 20px; text-align: center"
    >
      {{ isExpanded(node.id) ? '▼' : '▶' }}
    </span>

    <span *ngIf="!node.children?.length" style="width: 20px"></span>
    <div class="">
      <div style="flex: 1; cursor: pointer" (click)="toggleSelection(node.id)">
        <input
          type="checkbox"
          class="custom-checkbox"
          [checked]="isSelected(node.id)"
          (click)="$event.stopPropagation()"
        />

        <span style="margin-right: 8px">📂</span>
      </div>
      {{ node.name }}
    </div>
  </div>

  <div *ngIf="node.children?.length && isExpanded(node.id)" style="margin-left: 20px">
    <app-department-tree
      [list]="node.children"
      [isSelected]="isSelected"
      [toggleSelection]="toggleSelection"
      [isExpanded]="isExpanded"
      [toggleExpand]="toggleExpand"
    />
  </div>
</div>
